[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
tqdm = "*"
awscli = "*"
psycopg2-binary = "*"
django = "*"
dj-static = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
